__pycache__/
*.pyc
*.pyo
*.pyd
*.cache

.env
.venv/
venv/
Pipfile
Pipfile.lock

logs/
*.log
*.pid
*.seed
*.cover
*.orig

*.db
*.sqlite

.vscode/
.idea/
*.iml

.DS_Store
Thumbs.db

*.bak
/data/export/*
